.userManagement_container{
    background-color: rgb(255, 255, 255);
   height: 100vh;
    width: 100%;
    overflow-y: scroll;
    align-items: center;
}
.userManagement_container::-webkit-scrollbar{
    display: none;
}
.userManagement_container > input{
    margin-top: 10px;
}

.pagination{
    justify-content: center;
    
}